.App {
  text-align: center;
}

.configurator {
  opacity: 0.9;
  position: absolute;
  right: 0vw;
  bottom: 5vh;
  height: 80vh;
  width: 15vw;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .configurator {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: white;
  }
}
